@inherits LayoutComponentBase
<main>
    <div class="top-row fixed-top">
        <h6>計算字數 - Calculate the number of words</h6>
    </div>

    <article class="content">
        @Body
    </article>

    <Footer />
</main>
